* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; 
}

#titulo {
    color: #4b0082;
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 50px 0;
}

.texto-paragrafo {
    text-align: center;
}

.entradas-usuario {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    width: 50%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: auto;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}


.entradas-usuario input, .entradas-usuario button {
    width: 100%;
    margin-bottom: 10px; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.entradas-usuario button {
    background-color: #4b0082;
    color: #fff;
    border: none;
    cursor: pointer;
}

.entradas-usuario button:hover {
    background-color: #6a0dad;
}

.entrada-titulo {
    color: #4b0082; 
    text-align: center;
    font-size: 2rem;  
    margin-bottom: 20px; 
    font-weight: bold; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}

.rodape {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #4b0082;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}